*{
	margin: 0;
	padding: 0;
}
#topo{
	height: 100px;
	background: red;
	font-size: 70px;
	font-weight: 100;
	font-style: italic;
}
#menu{
	background-color: white(0,0,255,0.3);
}
#menu ul, li{
	display: inline-table;
	padding: 10px 30px;
	background-color: white;
	cursor: pointer;
}
#menu ul li a{
	text-decoration: nome;
	color: red;
}
#menu ul li:hover{
	background-color: (0,0,0,0.5);
}
#conteudo{
	background-color: black;
	min-height: 70px;
}
#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

img{
	max-width: 90%;
	width: 10cm;
	height: 12cm;
	object-fit: contain;
}
.slogan-image {
    float: left;
    height: 130px;
    width: 130px;
    margin: 30px;
    border-radius: 50%;
}
