.container{
	width: 100%;
	margin-top: 10%;
	font-family: sans-serif;
	letter-spacing: 1px;
}
.container h2
{
	background: #0062cc;
	color:#fff;
	width: 250px;
	font-size: 24px;
	padding: 5px;
	height: 40px;
}
.container h2::after
{
	content: '';
	border-top: 40px solid #0062cc;
	border-right: 40px solid transparent;
	position: relative;
	left: 48px;
	top: 34px;
}
.row{
	margin-top: 30px;
}
img{
	width: 100%;
}
.product-bottom .fa{
	color: #28a745;
	font-size: 10px;
}
.product-bottom h3{
	font-size: 15px;
	font-weight: bold;
}
.product-bottom h5{
	font-size: 15px;
	padding-bottom: 10px;
}
.product-top:hover .overlay
{

	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;

}
.overlay .fa
{
	cursor: pointer;
	background-color:#fff;
	color: #000;
	height: 35px;
	width: 35px;
	font-size: 20px;
	padding: 7px;
	margin: 5%;
	margin-bottom: 5%;
}
.overlay .btn-secondary
{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}